h1 {
  color: green;
  text-align: center;
  font-size: 50px;
  font-style: oblique;
}
h2 {
  font-size: 30px;
  text-align: center;
}
img {
  height: 400px;
  width: 600px;
}
ul {
  text-align: center;
}
